@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3498DB;
}
.wrapper{
    height: 260px;
    background: #ffff ;
    max-width: 410px;
    padding: 16px 25px;
    border-radius: 7px;
    transition: height 0.3s ease;
}
.wrapper.active{
    height: 530px;
}
header h1{
    font-size: 21px;
}
header p {
    margin-top: 5px;
    color: #474747;
    font-size: 16px;
}
.form{
    margin: 20px 0 30px;
}
.form :where(input, button){
    width: 100%;
    height: 55px;
    border:none;
    outline: none;
    border-radius: 5px
}
.form input {
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
    
}
.form button {
    margin-top: 20px;
    background: #3498DB;
    color: #ffff;
    font-size: 18px;
    cursor: pointer;
}
.wrapper .qr-code {
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content:center;
}
.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}